body {
    background-color: black;
}

.App {
    min-height: 100dvh;
    min-width: 100dvw;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0, 0, 0) -10%, rgba(0, 0, 0, 0.3) 50%, rgb(0, 0, 0) 110%);
}

.block {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.side {
    background: rgba(205, 255, 240, 0.15);
    box-shadow: 0 8px 32px 0 rgba(163, 255, 246, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 0.5em;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 2em 1em;
    width: 10em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 3em;
    width: 30em;
    gap: 1.5em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

h1 {
    font-size: 4em;
    margin: 0;
    padding: 0 2rem;
}

p {
    margin: 2em 0;
    line-height: 1.5;
}

.image {
    margin-right: 2em;
    padding: 1rem;
    height: fit-content;
    width: fit-content;

    background: rgba(205, 255, 240, 0.15);
    box-shadow: 0 8px 32px 0 rgba(163, 255, 246, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    display: flex;
    justify-content: center;
}

img {
    height: 7rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.11);
}

.button {
    border-radius: 0.5em;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 0.5em 0.5em 0.5em 1em;
    transition: 0.3s;

    display: flex;
    align-items: center;
    gap: 1em;
}

.button:hover {
    background: rgba(205, 255, 240, 0.15);
    box-shadow: 0 8px 50px 0 rgba(255, 255, 255, 0.20);
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    /*backdrop-filter: blur( 10px );*/
    /*-webkit-backdrop-filter: blur( 4px );*/
    scale: 1.05;
    cursor: pointer;
}

.button#more:hover {
    background: revert;
    box-shadow: revert;
    scale: revert;
    cursor: revert;
}

.button#back {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    margin: 0;
    width: fit-content;
    padding: 0.5em 1.5em 0.5em 1em;

    background: rgba(205, 255, 240, 0.1);
    box-shadow: 0 8px 50px 0 rgba(255, 255, 255, 0.20);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}

.button#back:hover {
    background: rgba(205, 255, 240, 0.15);
}

hr {
    border-color: rgba(205, 255, 240, 0.20);
    border-width: 0.06rem;
}

.hide {
    display: none;
}

.show#links {
    display: flex;
    flex-direction: column;
    gap: 0.65em;
    font-weight: 600;
    .button {
        justify-content: space-between;
    }
    .button:hover {
        backdrop-filter: blur( 10px );
        -webkit-backdrop-filter: blur( 4px );
        scale: 1.02;
    }
}

.mobileBuffer {
    display: none;
    width: 100%;
}

@media (max-width: 55em) {
    .image {
        display: none
    }
    .content {
        width: auto;
    }
    .side {
        position: fixed;
        bottom: 2em;
        flex-direction: row;
        box-sizing: border-box;
        width: 100%;
        max-width: 35em;
        flex-wrap: wrap;
        margin: 2em;
        left: calc(50% - 19.5em);
    }
    main {
        flex-direction: column;
    }
    .mobileBuffer {
        display: block;
        height: 10em;
    }
}

@media (max-width: 40em) {
    .side {
        left: 1em;
        width: calc(100% - 6em);
    }
    .mobileBuffer {
        height: 15em;
    }
    h1 {
        margin-top: 1em;
    }
}

@media (max-width: 30em) {
    .mobileBuffer {
        height: 20em;
    }
}

@media (max-width: 20em){
    h1 {
        font-size: 3em;
    }
    .mobileBuffer {
        height: 30em;
    }
}

@media (max-height: 50em) {
    h1 {
        margin-top: 1em;
    }
}

