:root {
    --backdrop: hsl(0 0% 60% / 0.12);
    --radius: 14;
    --border: 3;
    --backup-border: var(--backdrop);
    --size: 1500;
}

article:first-of-type {
    --base: 80;
    --spread: 500;
    --outer: 1;
}
article:last-of-type {
    --outer: 1;
    --base: 220;
    --spread: 200;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    background: hsl(0 0% 4%);
}

/* Glow */
[data-glow] {
    --border-size: calc(var(--border, 2) * 1px);
    --spotlight-size: calc(var(--size, 150) * 1px);
    --hue: calc(var(--base) + (var(--xp, 0) * var(--spread, 0)));
    background-image: radial-gradient(
            var(--spotlight-size) var(--spotlight-size) at
            calc(var(--x, 0) * 1px)
            calc(var(--y, 0) * 1px),
            hsl(var(--hue, 210) calc(var(--saturation, 100) * 1%) calc(var(--lightness, 70) * 1%) / var(--bg-spot-opacity, 0.1)), transparent
    );
    background-color: var(--backdrop, transparent);
    background-size: calc(100% + (2 * var(--border-size))) calc(100% + (2 * var(--border-size)));
    background-position: 50% 50%;
    background-attachment: local;
    border: var(--border-size) solid var(--backup-border);
    position: relative;
    touch-action: none;
}

[data-glow]::before,
[data-glow]::after {
    pointer-events: none;
    content: "";
    position: absolute;
    inset: calc(var(--border-size) * -1);
    border: var(--border-size) solid transparent;
    border-radius: calc(var(--radius) * 1px);
    background-attachment: local;
    background-size: calc(100% + (2 * var(--border-size))) calc(100% + (2 * var(--border-size)));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    mask:
            linear-gradient(transparent, transparent),
            linear-gradient(white, white);
    mask-clip: padding-box, border-box;
    mask-composite: intersect;
}

/* emphasis light */
[data-glow]::before {
    background-image: radial-gradient(
            calc(var(--spotlight-size) * 0.75) calc(var(--spotlight-size) * 0.75) at
            calc(var(--x, 0) * 1px)
            calc(var(--y, 0) * 1px),
            hsl(var(--hue, 210) calc(var(--saturation, 100) * 1%) calc(var(--lightness, 50) * 1%) / var(--border-spot-opacity, 1)), transparent 100%
    );
    filter: brightness(2);
}
/* spotlight */
[data-glow]::after {
    background-image: radial-gradient(
            calc(var(--spotlight-size) * 0.5) calc(var(--spotlight-size) * 0.5) at
            calc(var(--x, 0) * 1px)
            calc(var(--y, 0) * 1px),
            hsl(0 100% 100% / var(--border-light-opacity, 1)), transparent 100%
    );
}
[data-glow] [data-glow] {
    position: absolute;
    inset: 0;
    will-change: filter;
    opacity: var(--outer, 1);
}
[data-glow] > [data-glow] {
    border-radius: calc(var(--radius) * 1px);
    border-width: calc(var(--border-size) * 20);
    filter: blur(calc(var(--border-size) * 10));
    background: none;
    pointer-events: none;
}
[data-glow] > [data-glow]::before {
    inset: -10px;
    border-width: 10px;
}
[data-glow] [data-glow] {
    border: none;
}
[data-glow] :is(a, button) {
    border-radius: calc(var(--radius) * 1px);
    border: var(--border-size) solid transparent;
}
[data-glow] :is(a, button) [data-glow] {
    background: none;
}
[data-glow] :is(a, button) [data-glow]::before {
    inset: calc(var(--border-size) * -1);
    border-width: calc(var(--border-size) * 1);
}

article {
    min-width: 7.3em;
    max-width: 50em;
    border-radius: calc(var(--radius) * 1px);
    box-shadow: 0 1rem 2rem -1rem black;
    padding: 2rem;
    gap: 1rem;
    backdrop-filter: blur(calc(var(--cardblur, 5) * 1px));
    min-height: 7.3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    svg {
        width: 50%;
        height: 100%;
    }
    p {
        text-align: left;
    }
}

.footer {
    article {
        gap: 0.75rem;
        svg {
            width: 25%;
        }
    }
}

main, .container, .main, .side, .footer {
    display: flex;
    gap: 2em;
}

.main, .side, .container {
    flex-direction: column;
}

.main {
    max-width: 35em;
    article:last-of-type {
        display: flex;
        height: 31.75em;
        justify-content: space-around;
    }
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 0.2em 0;
}

h3 {
    text-align: center;
    padding: 0.9rem;
    width: 26.1em;
}

p {
    line-height: 2em;
    font-size: 1.2em;
    width: 90%;
    margin: 0.2em 0;
}

hr {
    border: 1px solid rgba(255,255,255,0.2);
    width: 90%;
}

a {
    color: white;
    text-decoration: none;
}

